{{ define "main" }}

{{ partial "page-title.html" . }}

<section id="blog-full-width"  class="works">
    <div class="container">
        <div class="row">
                {{ range .Data.Pages }}
                <div class="col-md-6">
                <article class="wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
                    
                    <div class="blog-post-image">
                        <a href="{{ .Permalink }}">
                             {{ with .Params.image }}<img class="img-fluid" src="{{ . | absURL }}" alt="post-image"/>{{ end }}
                        </a>
                    </div>
                    <div class="blog-content">
                        <h2 class="blogpost-title">
                            <a href="{{ .Permalink }}">{{ .Title }}</a>
                        </h2>
                        <div class="blog-meta">
                            <span><time class="post-date dt-published" datetime="{{ .Date }}">{{ .Date.Day }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}</time></span>
                            {{ with .Params.author }}<span>Par
                                {{ . }}
                            </span>
                            {{ end }}
                            {{ with .Params.categories }}
                            <span>
                                {{ delimit . ", " }}
                            </span>
                            {{ end }}
                        </div>
                        <p>
                            {{ .Summary }}
                        </p>
                        {{ with .Permalink }}<a href="{{ . }}" class="btn-demo-home">Lire la suite ></a>{{ end }}
                    </div>
                </article>
                </div>
                {{ end }}

        </div>
    </div>
</section>

{{ end }}